{% extends 'base.html' %}

{% block title %}
<title>Reset Password</title>
{% endblock %}

{% block body_block %}
    <div class="card border-primary" style="margin-left:35%;margin-right:35%; margin-top:200px;">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <label for="ps" style="font-weight: bold;">Password</label>
                <input type="password" id="ps" name="ps" class="form-control">
                <br>
                <label for="rps" style="font-weight: bold;">Re-enter Password</label>
                <input type="password" id="rps" name="rps" class="form-control">
                <br>
                <input type="submit" value="Reset Password" class="nav-link text-primary">
            </form>
        </div>
    </div>
{% endblock %}